@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    user-select: none;
}

html {
    background-color: #D7CCC8;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
}

h1 {
    font-family: Roboto;
    color: black;
    position: absolute;
    top: 0em;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.main {
    background-color: #80CBC4;
    height: 70vh;
    width: 30em;
    position: relative;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launch {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.outerCircle {
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 5s;
    position: relative;
    top: 2.5em;
}

.innerCircle {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    background-color: #64B5F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launch .outerCircle:hover {
    opacity: 75%;
    cursor: pointer;
}

.launch img {
    width: 75%;
}

.launch p {
    font-size: 1.5em;
    font-family: Roboto;
    font-style: italic;
    position: relative;
    top: 1.5em;
}

.nRounds {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nRounds button {
    font-family: Roboto;
    background-color: #2E7D32;
    border: none;
    border-radius: 0.5em 0.5em;
    color: white;
    padding: 0.25em 0.5em;
    font-size: 1.5em;
    position: absolute;
    bottom: 15%;
}
.nRounds button:hover {
    cursor: pointer;
}

.nSelect {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
}

.nSelect p {
    font-family: Roboto;
    font-style: bold italic;
    font-size: 5em;
}

.nSelect div p {
    font-size: 4em;
    user-select: none;
}

.nSelect div {
    padding: 0 2em;
}

.nSelect div:hover {
    cursor: pointer;
}

.plus {
    position: absolute;
    right: 5em;
}

.minus {
    position: absolute;
    left: 5em;
}

.nRounds {
    display: none;
}

/* .launch {
    display: none;
} */

.game {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.roundNumber {
    width: 100%;
    flex: 1;
    height: fit-content;
    background-color: #BA68C8;
    border-radius: 5% 5% / 20% 20% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roundNumber h1 {
    position: relative;
    margin: 0;
}

.playerChoice {
    width: 100%;
    flex: 3;
    background-color: #00BCD4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.computerChoice {
    width: 100%;
    flex: 3;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.score {
    width: 100%;
    flex: 1;
    background-color: #01579B;
    border-radius: 0 0 5% 5% / 20% 20% ;
}

.game .outerCircle {
    width: 6vw;
    height: 6vw;
    top: 0;
    opacity: 60%;
}
.game .innerCircle {
    width: 5vw;
    height: 5vw;
}

.game .outerCircle:hover {
    opacity: 100%;
    cursor: pointer;
}

.game img {
    width: 4vw;
}

p.choice {
    font-family: Roboto;
    font-size: 1.5em;
    top: 0.2em;
    margin: 0;
}

p.result {
    font-family: Roboto;
    font-size: 1.5em;
    top: 0.2em;
    margin: 0;
}

.computerChoice .outerCircle {
    opacity: 50%;
}

.computerChoice .outerCircle:hover {
    cursor: default;
    opacity: 50%;
}

.computerChoice .innerCircle {
    background-color: #B71C1C;
}

.score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scoreText {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextButton {
    height: 100%;
    flex: 1;
    background-color: #78909C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5% / 20% 0;
    opacity: 70%;
}

.roundResult .nextButton {
    background-color: #388E3C;
    color: white;
}

.roundResult .nextButton:hover {
    background-color: #388E3C;
    opacity: 90%;
    cursor: pointer;
}

.score p {
    font-family: Roboto;
    font-size: 1.5em;
}

.roundResult {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.roundResult .outerCircle {
    width: 6vw;
    height: 6vw;
    top: 0;
    opacity: 60%;
}
.roundResult .innerCircle {
    width: 5vw;
    height: 5vw;
}

.roundResult .outerCircle:hover {
    opacity: 60%;
    cursor: default;
}

.roundResult .computerChoice .outerCircle {
    opacity: 50%;
}

.roundResult .computerChoice .outerCircle:hover {
    opacity: 50%;
}

.roundResult img {
    width: 4vw;
}

.game img {
    width: 4vw;
}

.finalResult {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.finalResult p {
    font-family: Roboto;
    font-size: 2em;
    font-style: bold;
}

.playAgain {
    background-color: #3949AB;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5% 5% / 20% 20%;
    opacity: 85%;
}

.playAgain:hover {
    cursor: pointer;
    opacity: 100%;
}